.Register input, .Register button {
    width: 270px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 25px;
}

.Register span {
    display: block;
    margin-top: 5px;
    color: red;
    font-size: 12px;
}

.Register form {
    display: inline-block;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    padding: 20px;
    width: 300px;   
}
