.Copyrights {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: smaller;
}

.Copyrights a {
    text-decoration: none;
}

.Copyrights a:hover {
    color: red;
}